<div class="grid" style="    text-align: center;">
  <div class="cell">
    <canvas
      id="chelneri"
    >
    </canvas>
    <h4>Best of "Chelneri"</h4>
  </div>

  <div class="cell">
    <canvas
      id="mese"
    >
    </canvas>
    <h4>Best of "Mese"</h4>
  </div>

  <div class="cell">
    <canvas
      id="clienti"
    >
    </canvas>
    <h4>Best of "Clienti"</h4>
  </div>

  <div class="cell">
    <canvas
      id="mancaruri"
    >
    </canvas>
    <h4>Best of "Mancaruri"</h4>
  </div>
</div>
